<RunSettings>  
    <TestRunParameters>
      <Parameter name="ENVIRONMENT" value="STG" />
      <Parameter name="STG_QC_NAME" value="StavWorld Demo" />
      <Parameter name="STG_ORGANIZATION_NAME" value="StavWorld Automation Testing" />
      <Parameter name="STG_SELENIUM_HUB" value="http://localhost:4444/wd/hub" />
		  <Parameter name="STG_SELENIUM_BASE_URL" value="https://stavpaydemo2.stavtar.com/layout/dashboard" />
		  <Parameter name="STG_BROWSER" value="Chrome" />
      <Parameter name="STG_REPORT_HTLM" value="index.html" />
    </TestRunParameters>
</RunSettings>